@use '../abstracts' as *;

.avatar {
    border-radius: 50%;
    overflow: hidden;

    &_size_small {
        width: 40px;
        height: 40px;
        min-width: 40px;
    }

    &_size_big {
        width: 90px;
        height: 90px;
        min-width: 90px;
    }

    &__placeholder {
        display: block;
        width: 100%;
        height: 100%;
        background-color: $color_white;
        @include bg-image('avatar-default.png');
    }

    &__image {
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }
}
