@use '../abstracts' as *;

.icon-button {
    width: 34px;
    height: 34px;
    min-width: 34px;
    border-radius: 50%;
    border: 0;
    @include flex-center;

    &:hover {
        cursor: pointer;
    }

    &_variant_transparent {
        background-color: transparent;
    }

    &_variant_white {
        background-color: $color_white;
    }

    &_variant_white-hover {
        background-color: $color_blue;
    }

    &_variant_gray {
        background-color: $color_gray_light;
    }

    &_variant_gray-hover {
        background-color: $color_blue;
    }
}
