$font_main: 'SF Pro Display', 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;

$color_black: #161718;
$color_white: #ffffff;
$color_gray_light: #f1f2f3;
$color_gray: #cdcdcd;
$color_gray_dark: #616f82;
$color_orange: #ec8532;
$color_blue: #4198c5;
$color_red: #ff0000;

$box_shadow_1: 0px 1px 4px 0px rgba(51, 51, 51, 0.3);
$box_shadow_2: 0px 2px 10px 0px rgba(22, 23, 24, 0.08);
$box_shadow_3: 0px 1px 4px 0px rgba(19, 19, 19, 0.1);
$box_shadow_4: 0px 1px 4px 0px rgba(30, 30, 30, 0.1);
$box_shadow_5: 0px 2px 16px rgba(34, 34, 34, 0.16);

$max_content_width: 1140px;

$gap_xs: 6px;
$gap_s: 10px;
$gap_m: 15px;
$gap_l: 20px;
$gap_xl: 30px;
